* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  padding: 10px 20px 0px 30px;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  background-color: rgb(12,63,37);
  position: fixed;
}

.menu {
  font-family: "Courier New", Courier, monospace;
}

.menu ul {
  overflow: hidden;
  display: flex;
  align-items: center;
  list-style: none;
}

.menu ul li a {
  /* text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #000000,
    1px 1px 0 #ffffff; */
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 253, 249);
  padding: 20px 40px;
  display: block;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.main {
  min-height: 100vh;
  background-image: url("image/MAIN_MENU.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 3rem;
}

.main-content {
  max-width: 420px;
}

.main-content img {
  height: 200px;
  margin-bottom: 300px;
  margin-left: 100%;
}

.main-button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 250px;
  margin-left: 160px;
  display: flex;
  
  gap: 10px;
}

.btn-trailer {
  background-color: rgb(128, 97, 13);
  border-radius: 87px;
  color: white;
  padding: 10px 20px;
}

.btn-trailer:hover {
  background-color: rgb(79, 55, 15);
  color: rgb(113, 113, 113);
}

.green-block {
    background-color:rgb(12,63,37);
}

.green-block h1 {
    color: rgb(12,63,37);
    padding-bottom: 6%;

}

.video {
    background-image: url(image/Fantasy\ Grounds.jpg);
}

.video iframe {
  margin: 10% 0px 10% 430px;
}

.about {
  background-image: url("image/speech-bubble-pixel.jpg");
  padding-bottom: 120px;
  background-size: 900px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #000000;
  color: #000000;
}

.about h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 13px;
  font-size: 45px;
}

.about p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-bottom: 100px;
  font-size: 17px;
}

.characterpage {
  background-image: url("ruin-bg(1).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 500px;
}

.characterpage h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #000000;
  font-weight: bold;
  font-size: 23px;
  color: rgb(55, 38, 8);
  text-align: center;
  padding-top: 40px;
}










/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: white;
    color: black;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    position: absolute;
}

header{  
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}


.menu{
    background-color:rgb(11,24,53);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 50px;
    z-index: 1000;
}

/* .menu ul {
    
    
    position: fixed;
    display: flex;
    align-items: center;
    list-style: none;
    
} */

/* .menu a{
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #000000, 1px 1px 0 #ffffff;
    font-weight: bold;
    font-size: 23px;
    color: rgb(55, 38, 8);
    
}

.menu a:hover{
    text-decoration: underline;
} */

/* header{
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

header img{
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav{
    background-color:rgb(11,24,53);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 1000;
}

nav #home{
    color: white;
    font-size: 20px;
    font-family: logoFont;
    
}

nav .button{
  font-family: pageFont;
  font-size: 23px;
  padding-top: 10px;
}

nav a{
    
    color:rgb(240,246,182);
    text-decoration: none;
    margin: 15px 20px;
    position: relative;
    

} */

/* .main{

    min-height: 100vh;
    background-image: url(image/MAIN_MENU.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 3rem;
}

.main-content{
    max-width: 420px;
}

.main-content img { 
    margin-bottom: 300px;
    margin-left: 350px;
}

.main-button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 250px;
    margin-left: 200px;
    display: flex;
    gap: 10px;
}

.btn-trailer{
    background-color: rgb(128, 97, 13);
    border-radius: 87px;
    color: white;
    padding: 10px 20px;
}

.btn-trailer:hover{
    background-color: rgb(79, 55, 15);
    color: rgb(113, 113, 113);
}

.video{
    background-color: rgb(12,63,37);
}

.video iframe{
    margin: 13% 0px 60px 430px;
}

.about{
    background-image: url("image/speech-bubble-pixel.jpg");
    padding-bottom: 120px;
    background-size: 900px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgb(12,63,37);
    color: #000000;
}

.about h2{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 70px;
    padding-bottom: 13px;
    font-size: 45px;

}

.about p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 100px;
    font-size: 17px;
}

.characterpage{
    
    background-image: url("ruin-bg(1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 500px;
    
}

.characterpage h2{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #000000;
    font-weight: bold;
    font-size: 23px;
    color: rgb(55, 38, 8);
    text-align: center;
    padding-top: 40px;
} */ 