 @font-face {
  font-family: logoFont;
  src: url(fonts/Bitova-3lVdp.ttf);
 }

 @font-face {
  font-family: paraFont;
  src: url(fonts/CsbastroppixelRegularDemo-6RzJY.otf)format("opentype");
 }

  @font-face {
  font-family: pageFont;
  src: url(fonts/CsbartonpixelRegularDemo-5yVJ8.otf)format("opentype");
 }

 
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}

header{
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

header img{
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav{
    background-color:rgb(11,24,53);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 1000;
}

nav #home{
    color: white;
    font-size: 20px;
    font-family: logoFont;
    
}

nav .button{
  font-family: pageFont;
  font-size: 23px;
  padding-top: 10px;
}

nav a{
    
    color:rgb(240,246,182);
    text-decoration: none;
    margin: 15px 20px;
    position: relative;
    

}

.button a::after{
    content: "";
    position: absolute;
    background-color: rgb(240,246,182);
    transition: width 0.3s ease;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;

}
nav :hover::after{
  width: 100%;
}


/* header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;
}

.menu {
  font-family:'Courier New', Courier, monospace;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.menu ul li a {
  font-weight: bold;
  font-size: 16px;
  color: black;
  padding: 10px 20px;
}

.menu ul li a:hover {
  text-decoration: underline;
}*/

.main-character {
  overflow: hidden;
  position: relative;
  justify-content: center;
  background-image: url(images/sunset-bground.png);
  background-size: cover;
  background-position: center;
  height: 670px;
  width: 100%;
}

.main-character a{
  font-family: paraFont;
  position: absolute;
  font-size: 30px;
  left: 50%;                   
  transform: translateX(-50%); 
  bottom: 20%;                 
  background: rgb(81, 96, 150);
  color: white; 
  padding: 8px 18px;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  z-index: 5;             
}

.main-character a:hover{
  background: rgb(59, 70, 111);
}

#head {
  /* margin-top: 70px;
  margin-left: 440px; */
  /* @media (max-width: 768px) {

  } */
  height: 60%;
  width: auto;
  margin-left: 500px;
  margin-top: 76px;
  /* position: absolute;
  top: 25%; */
  z-index: 1;
}

#building{
  /* position: relative;
  top: -450px; */
  z-index: 2;
  
}

#hand {
  /* margin-left: 500px;
  position: relative;
  background-color: transparent;
  top: -100px; */
  width: auto;
  bottom: 150px;
  margin-left: 500px;
  z-index: 3;
}


.about-me {
  /* background-image: url(images/bg-aboutme.jpg);
  padding-top: 50px;
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: rgb(53,63,98);
  padding-top: 5%;
  padding-bottom: 3%;
}

.about-me h2 {
  color: rgb(240,246,182);
  padding-top: 140px;
  padding-right: 330px;
  font-family: pageFont;
  font-size: 70px;
  text-align: right;
}

.about-me h3{
  color: rgb(240,246,182);
  text-align: right;
  padding-right: 540px;
  font-size: 39px;
  font-family: pageFont;
}

.about-me p {
  color: rgb(240,246,182);
  font-family: paraFont;
  margin-top: 30px;
  padding-left: 750px;
  font-size: 25px;
  line-height: 1.5;
  padding-bottom: 160px;
}

.about-me img{
  padding-top: 40px;
  position: absolute;
  padding-left: 140px;
  width: 40%;
  height: 65%;
}

.hero{
  background-color: rgb(11,24,53);
}

.gallery-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 160px;
  padding-right: 160px;
  font-family: pageFont;
}

.gallery-list img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid white;
  box-shadow: 0 4px 15px black;
  transition: 0.3, ease-in;

}

/* .gallery-list img:hover {

} */

#gallery h2 {
  padding-top: 13%;
  padding-left: 55px;
  font-size: 45px;
  color: white;
  font-family: pageFont;
}

#gallery p{
  padding-left: 55px;
  padding-top: 10px;
  color: white;
  font-size: 19px;
  font-family: paraFont;
}

.stats{
  background-color: rgb(11,24,53);
  padding-bottom: 10%;
}

.stats h2{
  color: rgb(240,246,182);
  display: flex;
  padding-left: 55px;
  padding-top: 5%;
  font-size: 45px;
  font-family: pageFont;
}

.skill-image {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.skill-image img{
  margin-top: 5%;
}


#interests {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10%;
  position: relative;
  background-color: rgb(53,63,98);
  color: rgb(240,246,182);
   
}

.interest-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  margin-top: 80px;
  align-items: stretch;
  z-index: 1;
  
  
}

.interest-title h2 {
  font-size: 50px;
  margin-top: 20px;
  position: relative;
  padding-bottom: 25px;
  letter-spacing: 8px;
  font-weight: 900;
  font-family: pageFont;
}

.interest-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.interest-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 0;
  padding: 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.interest-box img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  
}

.interest-text h3{
  font-family: pageFont;
  font-size: 40px;
}

.interest-text p{
  font-family: paraFont;
  font-size: 20px;
}

.contact-me {
  padding-top: 4%;
  text-align: center;
}

.contact-me h2 {
  font-family: pageFont;
  font-size: 45px;
  color: rgb(11,24,53);
  
}

.contact-me p{
  /* font-size: ; */
  margin-top: 3%;
  font-size: 19px;
}

.social-list {
  text-align: center;
  
}

.social-list ul {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  
}

.social-list ul a{
  text-decoration: none;
  font-size: 15px;
  background-color: rgb(11,24,53);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  
}

.email-footer{
  text-align: center;
  margin-top: 5%;
  
}

.email-footer p{
  font-size: 19px;
  
  padding-bottom: 10px;
}

.email-footer a{
  text-decoration: none;
  font-size: 13px;
  background-color: rgb(11,24,53);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  margin-bottom: 5%;
 
}

