*{
    margin: 0;
    padding: 0;
    
}


.navbar{
    width: 100%;
    display: flex;
    background-color: blue;
    justify-content: space-between;
    position: fixed;
    align-items: center;


   
}



a{
  
    text-decoration: none;
    color: white;
    margin: 10px;
    
}

